@font-face {
  font-family: "Poppins Regular";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Semibold";
  src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf");
}
.browsing-week-container {
  width: calc(100% - 35px);
  height: calc(100% - 35px);
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 36px rgb(53 54 54 / 9%);
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 20px;
  row-gap: 27px;

  position: relative;

  .title {
    width: 100%;
    font-family: "Poppins Semibold";
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    color: #343748;
  }

  .scroller-wrapper {
    width: 100%;
    height: 332px;

    .scroller {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      height: 332px;
      overflow-y: hidden;

      &:hover {
        overflow-y: overlay;
        /* width */
        &::-webkit-scrollbar {
          width: 10px;
          border-radius: 8px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: transparent;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: rgb(177, 177, 177);
          border-radius: 8px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
      }

      .item {
        width: 484px;

        .item-title {
          font-family: "Poppins Semibold";
          font-size: 12px;
          line-height: 18px;
          /* identical to box height */

          color: #42465a;
        }
        .item-question {
          font-family: "Poppins Regular";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          /* identical to box height */

          color: #42465a;
          padding-left: 12px;
        }
      }
    }
  }
}
