@font-face {
  font-family: "Poppins Regular";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("../assets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins Semibold";
  src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf");
}
.results-container {
  width: calc(100% - 35px);
  height: calc(100% - 35px);
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 36px rgb(53 54 54 / 9%);
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 20px;
  row-gap: 27px;

  .title {
    width: 100%;
    font-family: "Poppins Semibold";
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    display: flex;
    column-gap: 10px;
    align-items: center;

    color: #343748;

    .backbtn {
      border: none;
      padding: none;
      outline: none;
      margin: none;
      cursor: pointer;
    }
  }

  .scroller-wrapper {
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .scroller {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 28px;
      height: calc(100% - 30px);
      overflow-y: hidden;

      &:hover {
        overflow-y: overlay;
        /* width */
        &::-webkit-scrollbar {
          width: 10px;
          border-radius: 8px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: transparent;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: rgb(177, 177, 177);
          border-radius: 8px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
      }

      .result-item {
        display: flex;
        flex-direction: column;

        .link-container {
          font-family: "Poppins Regular";

          font-size: 10px;
          line-height: 15px;

          color: #464646;
          cursor: pointer;
        }
        .title-container {
          font-family: "Poppins Semibold";

          font-size: 14px;
          line-height: 21px;
          /* identical to box height */

          color: #212eab;
          margin-top: 5px;
          cursor: pointer;
        }
        .snippet-container {
          font-family: "Poppins Medium";

          font-size: 10px;
          line-height: 15px;

          color: #000000;
          margin-top: 6px;
          cursor: pointer;
        }
      }
    }
  }
}
