@font-face {
  font-family: "Poppins Medium";
  src: url("../assets/fonts/Poppins/Poppins-Medium.ttf");
}
.square-button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .primary-button {
    width: 80px;
    height: 33px;
    background: #2169f5;
    border-radius: 6px;

    border: none;
    outline: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Poppins Medium";

    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #4361d2;
    }
    &:disabled {
      background-color: #bfcbf6 !important;
      cursor: not-allowed;
    }
  }
}
